# Part 1.5: Cleaning new Yelp API dataset

Due to limits (missing major cities and price values) in the Yelp academic dataset, we have collected additional Yelp data using their Yelp Fusion API. Please refer to notebooks "Yelp_zipcode_api_pull.ipynb" 

**This notebook performs the following:**
1. Loads preliminarily cleaned data from csv file (see "Restaurant_data_merge_and_clean.ipynb")
2. Captures all unique categories
3. Filters categories for restaurant or bar related establishments (primary activity should be to serve food and drink)
4. Exports processed data to a local SQL for further processing (data is grouped by zip code using SQL)
5. Imports processed data from SQL and performs count of diversity of restaurant types by zip code

In [1]:
# Dependencies
import os
import pandas as pd
import numpy as np
import re
import ast

import dataframe_image as dfi

In [2]:
# Load preprocessed data from API scraping
# api_data_df = pd.read_csv('../Restaurants_and_House_Prices/Final/Resources_final/yelp_api_final.csv')
# Correct data (foreign zip codes removed by merging with US housing data):
api_data_df = pd.read_csv('../Restaurants_and_House_Prices/Final/Resources_final/yelp_housing_merge.csv')

In [3]:
api_data_df

,Unnamed: 0,postal_code,City,State,CountyName,2021,latitude,longitude,review_count,rating,categories,price,delivery,pickup,restaurant_reservation,price_value_1.0,price_value_2.0,price_value_3.0,price_value_4.0
0,0,60657.0,Chicago,IL,Cook County,507204.0,41.936430,-87.661410,354,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2.0,1,1,0,0,1,0,0
1,1,60657.0,Chicago,IL,Cook County,507204.0,41.940150,-87.653860,212,4.5,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",2.0,1,0,0,0,1,0,0
2,2,60657.0,Chicago,IL,Cook County,507204.0,41.937420,-87.648300,60,5.0,"[{'alias': 'pizza', 'title': 'Pizza'}]",0.0,1,0,0,0,0,0,0
3,3,60657.0,Chicago,IL,Cook County,507204.0,41.942829,-87.649185,593,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2.0,1,1,0,0,1,0,0
4,4,60657.0,Chicago,IL,Cook County,507204.0,41.947133,-87.646892,35,5.0,"[{'alias': 'mexican', 'title': 'Mexican'}]",0.0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240584,243462,7083.0,Union,NJ,Union County,414081.0,40.696799,-74.251397,339,4.0,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",2.0,1,0,0,0,1,0,0
240585,243463,7083.0,Union,NJ,Union County,414081.0,40.697124,-74.268196,258,3.5,"[{'alias': 'chicken_wings', 'title': 'Chicken ...",2.0,0,1,0,0,1,0,0
240586,243464,7083.0,Union,NJ,Union County,414081.0,40.697392,-74.268416,43,4.5,"[{'alias': 'vietnamese', 'title': 'Vietnamese'}]",0.0,1,1,0,0,0,0,0
240587,243465,7083.0,Union,NJ,Union County,414081.0,40.696692,-74.269194,605,4.0,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",2.0,1,1,0,0,1,0,0
240588,243466,7083.0,Union,NJ,Union County,414081.0,40.697934,-74.249223,37,4.0,"[{'alias': 'steak', 'title': 'Steakhouses'}, {...",2.0,1,1,0,0,1,0,0

In [4]:
# Explore
api_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240589 entries, 0 to 240588
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              240589 non-null  int64
 1   postal_code             240589 non-null  float64
 2   City                    240589 non-null  object
 3   State                   240589 non-null  object
 4   CountyName              240589 non-null  object
 5   2021                    240589 non-null  float64
 6   latitude                240583 non-null  float64
 7   longitude               240583 non-null  float64
 8   review_count            240589 non-null  int64
 9   rating                  240589 non-null  float64
 10  categories              240589 non-null  object
 11  price                   240589 non-null  float64
 12  delivery                240589 non-null  int64
 13  pickup                  240589 non-null  int64
 14  restaurant_reservation  240589 non-null  int64
 15  price_value_1.0         240589 non-null  int64
 16  price_value_2.0         240589 non-null  int64
 17  price_value_3.0         240589 non-null  int64
 18  price_value_4.0         240589 non-null  int64
dtypes: float64(6), int64(9), object(4)
memory usage: 34.9+ MB

In [5]:
# Drop previous index and price columns
api_data_df.drop(columns=['Unnamed: 0', 'price'],axis=1, inplace=True)

In [6]:
api_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240589 entries, 0 to 240588
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   postal_code             240589 non-null  float64
 1   City                    240589 non-null  object
 2   State                   240589 non-null  object
 3   CountyName              240589 non-null  object
 4   2021                    240589 non-null  float64
 5   latitude                240583 non-null  float64
 6   longitude               240583 non-null  float64
 7   review_count            240589 non-null  int64
 8   rating                  240589 non-null  float64
 9   categories              240589 non-null  object
 10  delivery                240589 non-null  int64
 11  pickup                  240589 non-null  int64
 12  restaurant_reservation  240589 non-null  int64
 13  price_value_1.0         240589 non-null  int64
 14  price_value_2.0         240589 non-null  int64
 15  price_value_3.0         240589 non-null  int64
 16  price_value_4.0         240589 non-null  int64
dtypes: float64(5), int64(8), object(4)
memory usage: 31.2+ MB

In [7]:
# Explore null values in postal_code column
api_data_df.postal_code.isna().sum()

0

In [8]:
len(api_data_df)

240589

In [9]:
# Explore postal codes
api_data_df.postal_code.value_counts()

11354.0    230
11211.0    223
10013.0    210
10003.0    208
10019.0    205
          ...
55956.0      1
47983.0      1
74932.0      1
84339.0      1
31801.0      1
Name: postal_code, Length: 13988, dtype: int64

In [11]:
# Explore states
api_data_df.State.value_counts()
# Seems correct - US states only

CA    23056
NY    22705
TX    22637
FL    11960
OH    11943
PA    10983
IL    10316
MI     7572
NC     7162
GA     7108
IN     7058
VA     6343
TN     6291
MO     5940
WA     4969
AZ     4954
CO     4676
AL     4458
WI     4366
KY     4314
MN     4196
SC     4171
LA     3607
OK     3538
OR     3489
MD     3392
IA     3344
AR     3129
KS     3032
NV     2476
NE     2313
MS     2298
WV     1875
UT     1533
NM     1257
DE     1138
DC      977
NJ      678
ND      676
HI      674
ID      621
MT      615
SD      613
AK      603
CT      562
WY      510
VT      434
MA       24
NH        2
RI        1
Name: State, dtype: int64

### Create dummies for ratings

In [12]:
# Create new column
api_data_df['stars']=api_data_df['rating']

In [13]:
api_data_df.head()

,postal_code,City,State,CountyName,2021,latitude,longitude,review_count,rating,categories,delivery,pickup,restaurant_reservation,price_value_1.0,price_value_2.0,price_value_3.0,price_value_4.0,stars
0,60657.0,Chicago,IL,Cook County,507204.0,41.936430,-87.661410,354,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",1,1,0,0,1,0,0,4.0
1,60657.0,Chicago,IL,Cook County,507204.0,41.940150,-87.653860,212,4.5,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",1,0,0,0,1,0,0,4.5
2,60657.0,Chicago,IL,Cook County,507204.0,41.937420,-87.648300,60,5.0,"[{'alias': 'pizza', 'title': 'Pizza'}]",1,0,0,0,0,0,0,5.0
3,60657.0,Chicago,IL,Cook County,507204.0,41.942829,-87.649185,593,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",1,1,0,0,1,0,0,4.0
4,60657.0,Chicago,IL,Cook County,507204.0,41.947133,-87.646892,35,5.0,"[{'alias': 'mexican', 'title': 'Mexican'}]",1,1,0,0,0,0,0,5.0

In [14]:
api_expand_df = pd.get_dummies(api_data_df,columns=['stars'])

In [15]:
api_expand_df.head()

,postal_code,City,State,CountyName,2021,latitude,longitude,review_count,rating,categories,...,stars_0.0,stars_1.0,stars_1.5,stars_2.0,stars_2.5,stars_3.0,stars_3.5,stars_4.0,stars_4.5,stars_5.0
0,60657.0,Chicago,IL,Cook County,507204.0,41.936430,-87.661410,354,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",...,0,0,0,0,0,0,0,1,0,0
1,60657.0,Chicago,IL,Cook County,507204.0,41.940150,-87.653860,212,4.5,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",...,0,0,0,0,0,0,0,0,1,0
2,60657.0,Chicago,IL,Cook County,507204.0,41.937420,-87.648300,60,5.0,"[{'alias': 'pizza', 'title': 'Pizza'}]",...,0,0,0,0,0,0,0,0,0,1
3,60657.0,Chicago,IL,Cook County,507204.0,41.942829,-87.649185,593,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",...,0,0,0,0,0,0,0,1,0,0
4,60657.0,Chicago,IL,Cook County,507204.0,41.947133,-87.646892,35,5.0,"[{'alias': 'mexican', 'title': 'Mexican'}]",...,0,0,0,0,0,0,0,0,0,1

In [16]:
# Export to csv
api_expand_df.to_csv('../Processed_Data/corrected_yelp_api_expand1.csv', index=False)

In [17]:
# Save dataframe image (in case needed for presentations)
dfi.export(api_expand_df.head(), "Images/corrected_yelp_api_expand1.png")

### Parse out categories

In [18]:
# Initial exploration of categories (run sample method multiple times)
api_expand_df['categories'].sample(20)

204079    [{'alias': 'tapas', 'title': 'Tapas Bars'}, {'...
202615           [{'alias': 'italian', 'title': 'Italian'}]
196111    [{'alias': 'delis', 'title': 'Delis'}, {'alias...
93460                [{'alias': 'pizza', 'title': 'Pizza'}]
76441            [{'alias': 'seafood', 'title': 'Seafood'}]
11680     [{'alias': 'chickenshop', 'title': 'Chicken Sh...
49501     [{'alias': 'diners', 'title': 'Diners'}, {'ali...
3701             [{'alias': 'mexican', 'title': 'Mexican'}]
163039               [{'alias': 'pizza', 'title': 'Pizza'}]
153146    [{'alias': 'grocery', 'title': 'Grocery'}, {'a...
24717            [{'alias': 'mexican', 'title': 'Mexican'}]
67432               [{'alias': 'bbq', 'title': 'Barbeque'}]
140607    [{'alias': 'ramen', 'title': 'Ramen'}, {'alias...
47193     [{'alias': 'thai', 'title': 'Thai'}, {'alias':...
6880      [{'alias': 'hotdogs', 'title': 'Fast Food'}, {...
9948      [{'alias': 'indpak', 'title': 'Indian'}, {'ali...
2956             [{'alias': 'mexican', 'title': 'Mexican'}]
15038      [{'alias': 'vietnamese', 'title': 'Vietnamese'}]
223958                 [{'alias': 'thai', 'title': 'Thai'}]
144449         [{'alias': 'szechuan', 'title': 'Szechuan'}]
Name: categories, dtype: object

In [19]:
# Make function to capture alias column (This code previous tested in other notebooks)
# Also converts to string and gets rid of unwanted string charaters

def convert_cat(data):
    cat_dict = pd.DataFrame({'all_cat':[ast.literal_eval(data)]})
    result1 = cat_dict['all_cat'].apply(lambda x: [d['alias'] for d in x]).astype(str)
    result2 = result1.str.cat(sep=",")
    y = re.sub('\[|\]| |\'', "", result2)
    return y

In [20]:
# Make a new dataframe
categories_expanded_df = api_expand_df.copy()

In [21]:
# Create new column for aliases
categories_expanded_df['alias_categories'] = categories_expanded_df["categories"].apply(lambda x: convert_cat(x))

In [22]:
# Check new dataframe
categories_expanded_df.head()

,postal_code,City,State,CountyName,2021,latitude,longitude,review_count,rating,categories,...,stars_1.0,stars_1.5,stars_2.0,stars_2.5,stars_3.0,stars_3.5,stars_4.0,stars_4.5,stars_5.0,alias_categories
0,60657.0,Chicago,IL,Cook County,507204.0,41.936430,-87.661410,354,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",...,0,0,0,0,0,0,1,0,0,"bars,newamerican"
1,60657.0,Chicago,IL,Cook County,507204.0,41.940150,-87.653860,212,4.5,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",...,0,0,0,0,0,0,0,1,0,"wine_bars,italian,tapasmallplates"
2,60657.0,Chicago,IL,Cook County,507204.0,41.937420,-87.648300,60,5.0,"[{'alias': 'pizza', 'title': 'Pizza'}]",...,0,0,0,0,0,0,0,0,1,pizza
3,60657.0,Chicago,IL,Cook County,507204.0,41.942829,-87.649185,593,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",...,0,0,0,0,0,0,1,0,0,"bars,newamerican,breakfast_brunch"
4,60657.0,Chicago,IL,Cook County,507204.0,41.947133,-87.646892,35,5.0,"[{'alias': 'mexican', 'title': 'Mexican'}]",...,0,0,0,0,0,0,0,0,1,mexican

In [23]:
categories_expanded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240589 entries, 0 to 240588
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   postal_code             240589 non-null  float64
 1   City                    240589 non-null  object
 2   State                   240589 non-null  object
 3   CountyName              240589 non-null  object
 4   2021                    240589 non-null  float64
 5   latitude                240583 non-null  float64
 6   longitude               240583 non-null  float64
 7   review_count            240589 non-null  int64
 8   rating                  240589 non-null  float64
 9   categories              240589 non-null  object
 10  delivery                240589 non-null  int64
 11  pickup                  240589 non-null  int64
 12  restaurant_reservation  240589 non-null  int64
 13  price_value_1.0         240589 non-null  int64
 14  price_value_2.0         240589 non-null  int64
 15  price_value_3.0         240589 non-null  int64
 16  price_value_4.0         240589 non-null  int64
 17  stars_0.0               240589 non-null  uint8
 18  stars_1.0               240589 non-null  uint8
 19  stars_1.5               240589 non-null  uint8
 20  stars_2.0               240589 non-null  uint8
 21  stars_2.5               240589 non-null  uint8
 22  stars_3.0               240589 non-null  uint8
 23  stars_3.5               240589 non-null  uint8
 24  stars_4.0               240589 non-null  uint8
 25  stars_4.5               240589 non-null  uint8
 26  stars_5.0               240589 non-null  uint8
 27  alias_categories        240589 non-null  object
dtypes: float64(5), int64(8), object(5), uint8(10)
memory usage: 35.3+ MB

In [24]:
# Explore categories
categories_expanded_df['alias_categories'].sample(20)

117466                                     mexican
105714    tradamerican,sportsbars,breakfast_brunch
175031                                     chinese
41099                                      mexican
127099                                       steak
96330                      wine_bars,beerbar,tapas
43249                          dimsum,cocktailbars
20852                              mexican,hotdogs
197635               bowling,lounges,chicken_wings
138005                           sushi,asianfusion
231583                                       pizza
25942                     brasseries,french,coffee
18759                                   newmexican
28577                                        delis
15482                                   salvadoran
115848                                    peruvian
34464                        ramen,bubbletea,sushi
230522        tradamerican,coffee,breakfast_brunch
54149                          salad,mediterranean
48995                       sportsbars,newamerican
Name: alias_categories, dtype: object

In [25]:
# Make list of ALL categories for ALL businesses (unlikely to need this but just in case)
raw_categories_list = categories_expanded_df['alias_categories'].to_list()

In [26]:
raw_categories_list

['bars,newamerican',
 'wine_bars,italian,tapasmallplates',
 'pizza',
 'bars,newamerican,breakfast_brunch',
 'mexican',
 'wine_bars,mediterranean,newamerican',
 'sandwiches,pubs,newamerican',
 'newamerican,breweries',
 'cajun,seafood,desserts',
 'cafes,venezuelan',
 'breakfast_brunch,coffee,comfortfood',
 'tradamerican,breakfast_brunch,cocktailbars',
 'breakfast_brunch,bagels,salad',
 'sandwiches,burgers,salad',
 'seafood',
 'korean,chicken_wings',
 'french,comfortfood,desserts',
 'newamerican,fishnchips,burgers',
 'korean,asianfusion,breakfast_brunch',
 'italian',
 'ramen',
 'hotdogs,sandwiches,burgers',
 'pizza,pubs,tradamerican',
 'filipino,newamerican,cocktailbars',
 'seafood,wine_bars,beerbar',
 'newamerican,breakfast_brunch',
 'pizza,italian',
 'pubs,irish',
 'breweries,newamerican',
 'bars,pizza,breakfast_brunch',
 'burgers',
 'mediterranean,mideastern',
 'tradamerican,bars,venues',
 'italian',
 'japanese,thai,chinese',
 'mediterranean,wine_bars',
 'vietnamese,cocktailbars,wine_bars',
 'coffee,french,breakfast_brunch',
 'bars,bbq',
 'burgers,asianfusion',
 'mexican',
 'cocktailbars,newamerican,gastropubs',
 'cajun,seafood,bars',
 'thai,asianfusion,salad',
 'thai,noodles,desserts',
 'vietnamese',
 'sushi',
 'mediterranean',
 'himalayan,indpak,asianfusion',
 'chickenshop,sandwiches',
 'newamerican,cocktailbars',
 'australian',
 'coffee,sandwiches,venezuelan',
 'thai,noodles',
 'brazilian',
 'ramen,japacurry',
 'comfortfood,tradamerican,desserts',
 'pizza,cocktailbars,brewpubs',
 'hotdog,burgers,hotdogs',
 'mexican,tex-mex',
 'mexican',
 'breakfast_brunch,newamerican,coffee',
 'wine_bars,pizza,italian',
 'conveyorsushi,sushi,ramen',
 'salad,beerbar,sandwiches',
 'italian',
 'tradamerican,sportsbars,danceclubs',
 'modern_european,cafes,georgian',
 'vegan,newamerican,burgers',
 'mexican,breakfast_brunch',
 'korean,sushi',
 'southern,chickenshop',
 'burgers,chicken_wings',
 'venezuelan',
 'newamerican,sportsbars',
 'mediterranean,turkish,kebab',
 'vietnamese',
 'tradamerican,breakfast_brunch,steak',
 'scandinavian,breakfast_brunch',
 'steak,colombian,seafood',
 'ramen',
 'mexican,bars',
 'japanese,sushi',
 'sportsbars,tradamerican',
 'pizza,salad,hotdogs',
 'sushi,japanese',
 'sandwiches,desserts,salad',
 'cafes,breakfast_brunch,juicebars',
 'grocery,cupcakes,burgers',
 'karaoke,bars,caribbean',
 'creperies,coffee,breakfast_brunch',
 'mideastern,falafel',
 'pizza,italian',
 'newamerican,greek,breakfast_brunch',
 'coffee,breakfast_brunch,bagels',
 'tradamerican,tacos,hotdog',
 'grocery,breakfast_brunch',
 'brazilian',
 'sushi,japanese,asianfusion',
 'pubs,burgers,tapasmallplates',
 'sushi,japanese',
 'lounges,vietnamese,modern_european',
 'japanese,bbq,asianfusion',
 'uzbek,asianfusion,breakfast_brunch',
 'hotdog,burgers,pubs',
 'bars,pizza',
 'seafood,salad,sandwiches',
 'sportsbars,newamerican',
 'latin',
 'seafood,salad',
 'cafes,mexican,breakfast_brunch',
 'bakeries,coffee,cafes',
 'sportsbars,tradamerican,beerbar',
 'bakeries,coffee,breakfast_brunch',
 'scandinavian,breakfast_brunch',
 'burgers,pizza,hawaiian',
 'breakfast_brunch,tradamerican',
 'pizza,chicken_wings,italian',
 'sportsbars,tradamerican',
 'ramen,sushi',
 'diners,tradamerican',
 'mexican,cocktailbars',
 'chinese,sushi,asianfusion',
 'desserts,tradamerican,salad',
 'chinese,thai,asianfusion',
 'vegan,coffee,breakfast_brunch',
 'chinese,juicebars',
 'italian,seafood,steak',
 'mexican,breakfast_brunch,cocktailbars',
 'newamerican,breakfast_brunch,pizza',
 'mexican,tex-mex',
 'breakfast_brunch',
 'bars,popuprestaurants',
 'pizza,bbq,italian',
 'french,creperies,wine_bars',
 'pubs,fishnchips,scottish',
 'indpak,vegetarian,hotdogs',
 'hotdog,burgers',
 'mexican',
 'bagels,sandwiches,breakfast_brunch',
 'tradamerican,sportsbars,breakfast_brunch',
 'mexican',
 'caribbean',
 'noodles,soup,thai',
 'asianfusion',
 'thai',
 'musicvenues,newamerican',
 'pizza,chicken_wings,italian',
 'pizza,italian,breakfast_brunch',
 'sushi,japanese',
 'sushi,seafood,asianfusion',
 'tex-mex,burgers,tacos',
 'thai,asianfusion',
 'burgers,tradamerican,hotdogs',
 'coffee,sandwiches,breakfast_brunch',
 'bbq,kosher,salad',
 'sushi,thai',
 'vegan,vegetarian',
 'bbq',
 'italian,desserts',
 'korean,asianfusion,tacos',
 'mediterranean,mideastern,vegetarian',
 'dimsum,cantonese,seafood',
 'bars,newamerican,gastropubs',
 'asianfusion,korean,chicken_wings',
 'pizza',
 'comfortfood,newamerican,cocktailbars',
 'sportsbars,chicken_wings,beergardens',
 'greek',
 'szechuan',
 'chickenshop',
 'gastropubs,tradamerican,whiskeybars',
 'spanish',
 'chickenshop',
 'chickenshop,portuguese,southafrican',
 'newamerican,bars',
 'seafood',
 'hawaiian,bbq',
 'breakfast_brunch',
 'breakfast_brunch',
 'mediterranean,cocktailbars',
 'pizza,italian,desserts',
 'ramen,chicken_wings',
 'hotpot,tapasmallplates,szechuan',
 'latin,puertorican',
 'mexican,cocktailbars,venues',
 'seafood,spanish,desserts',
 'chinese',
 'pizza,salad,cocktailbars',
 'pubs,seafood,burgers',
 'tradamerican',
 'spanish,tapas,venues',
 'sandwiches,breakfast_brunch,venues',
 'newamerican',
 'sushi,ramen',
 'newamerican,bars',
 'newamerican,cocktailbars,eventplanning',
 'chickenshop,hotdogs',
 'newamerican,bars',
 'wine_bars,newamerican,cocktailbars',
 'pizza,italian,bars',
 'greek,mediterranean',
 'pizza,bars',
 'asianfusion,malaysian,singaporean',
 'tradamerican,wraps,chicken_wings',
 'burgers,breakfast_brunch',
 'mediterranean,tacos',
 'desserts,waffles',
 'lebanese,falafel',
 'bars,mexican,newamerican',
 'thai,noodles',
 'breakfast_brunch,tradamerican,diners',
 'pizza',
 'french,modern_european,steak',
 'bubbletea,taiwanese,chickenshop',
 'french',
 'newamerican,modern_european',
 'newamerican',
 'sushi',
 'burgers,newamerican,cocktailbars',
 'tradamerican,bbq,cocktailbars',
 'southern,chickenshop,tradamerican',
 'mexican',
 'italian,pizza,newamerican',
 'thai',
 'pubs,breakfast_brunch,sandwiches',
 'cafes,french,creperies',
 'pubs,tradamerican',
 'newamerican,lounges,cocktailbars',
 'bbq,asianfusion',
 'sushi,japanese',
 'italian',
 'breakfast_brunch,tradamerican,diners',
 'seafood,tradamerican,raw_food',
 'seafood,salad,sandwiches',
 'tradamerican,breakfast_brunch',
 'sushi,japanese,wine_bars',
 'bars,tacos',
 'italian',
 'seafood',
 'tacos,newamerican,vegetarian',
 'sushi,asianfusion',
 'pizza,italian,wine_bars',
 'italian,wine_bars,salad',
 'tacos,breakfast_brunch,seafood',
 'halal,indpak,gluten_free',
 'indpak,pizza',
 'breakfast_brunch,bbq,sandwiches',
 'tacos',
 'italian',
 'seafood,bars,sandwiches',
 'pizza',
 'pizza,italian',
 'coffee,waffles,juicebars',
 'chinese',
 'bagels,salad,breakfast_brunch',
 'pizza,italian',
 'breakfast_brunch,beerbar,tradamerican',
 'delis,breakfast_brunch,sandwiches',
 'sushi,japanese,salad',
 'burgers,hotdog,sandwiches',
 'cuban,cocktailbars,breakfast_brunch',
 'breakfast_brunch',
 'french,bakeries,sandwiches',
 'german,tradamerican,beerbar',
 'mexican',
 'breakfast_brunch,waffles,burgers',
 'pizza,burgers,tradamerican',
 'musicvenues,caribbean,bars',
 'sushi,japanese,thai',
 'bars,breweries,tradamerican',
 'pizza',
 'pizza,desserts,coffee',
 'mediterranean,salad,sandwiches',
 'italian',
 'salad,vegetarian',
 'breakfast_brunch,sandwiches',
 'indpak,himalayan',
 'falafel,mideastern,greek',
 'vegan,burgers,vegetarian',
 'indpak',
 'newamerican,beerbar,wine_bars',
 'newamerican,whiskeybars,cocktailbars',
 'wine_bars,tradamerican',
 'latin,steak,argentine',
 'bars,tradamerican,seafood',
 'tacos,burgers,filipino',
 'mexican',
 'italian,newamerican',
 'bbq,pizza,brewpubs',
 'pizza',
 'breakfast_brunch,newamerican,coffee',
 'indpak',
 'bbq',
 'cocktailbars,newamerican,pubs',
 'cuban,filipino',
 'newamerican,bars,breakfast_brunch',
 'diners,seafood',
 'venezuelan',
 'pubs,tradamerican,pizza',
 'vegan,cafes,raw_food',
 'mediterranean,mideastern',
 'bars,tradamerican',
 'thai',
 'pizza',
 'diners,breakfast_brunch,tradamerican',
 'tradamerican,pubs',
 'hotdogs,burgers',
 'coffee,cajun,sandwiches',
 'colombian',
 'thai',
 'breakfast_brunch,newamerican,breweries',
 'chinese',
 'beer_and_wine,delis,sandwiches',
 'coffee,bakeries,breakfast_brunch',
 'greek,hotdogs',
 'sushi',
 'sandwiches,delis,bagels',
 'mexican',
 'beerbar,bbq,venues',
 'beerbar,cocktailbars,tacos',
 'tradamerican,hotdog,salad',
 'sportsbars,tradamerican',
 'bars,burgers,newamerican',
 'mexican',
 'mexican',
 'coffee,breakfast_brunch,cupcakes',
 'chinese,seafood,soup',
 'pizza,italian',
 'bars,tradamerican',
 'sushi,ramen',
 'mexican,breakfast_brunch,bars',
 'chinese,thai,asianfusion',
 'bars,coffee,breakfast_brunch',
 'bars,burgers,bbq',
 'mexican',
 'pizza,popuprestaurants',
 'fishnchips,chicken_wings',
 'mexican',
 'mexican,gaybars',
 'festivals,hotdog',
 'sushi,japanese',
 'bars,pancakes,tradamerican',
 'cafes,bars',
 'tacos,hotdogs',
 'bars,tradamerican',
 'donuts,coffee,breakfast_brunch',
 'breakfast_brunch,tradamerican,burgers',
 'lounges,tradamerican,supperclubs',
 'mexican',
 'restaurants',
 'comedyclubs,chicken_wings',
 'sushi,japanese,noodles',
 'japanese',
 'thai,bubbletea,noodles',
 'pizza,italian',
 'chickenshop,hotdogs',
 'sushi,japanese,vegetarian',
 'bars,tradamerican',
 'chicken_wings,sportsbars,burgers',
 'foodtrucks,sandwiches,catering',
 'gastropubs,newamerican,cocktailbars',
 'newamerican,seafood,breakfast_brunch',
 'food_court',
 'italian,wine_bars',
 'portuguese,southafrican,chickenshop',
 'venezuelan',
 'newamerican,bars,burgers',
 'asianfusion,gluten_free,vegetarian',
 'ramen,poke',
 'mideastern',
 'cafes,bakeries',
 'cocktailbars,argentine,peruvian',
 'newamerican,venues',
 'filipino',
 'greek,hotdogs,burgers',
 'coffee,russian,modern_european',
 'chinese',
 'asianfusion',
 'mexican',
 'pizza,italian',
 'tradamerican,pubs',
 'pubs,british',
 'italian',
 'steak,venues,italian',
 'bars,german,newamerican',
 'restaurants',
 'indpak,vegan,gluten_free',
 'poke,ramen',
 'wine_bars,tapasmallplates,cocktailbars',
 'indonesian,desserts,chicken_wings',
 'bbq',
 'steak,seafood,wine_bars',
 'mideastern,falafel,salad',
 'italian,pizza,sportsbars',
 'burgers',
 'chinese',
 'asianfusion',
 'mideastern,falafel',
 'burgers,icecream,tradamerican',
 'beer_and_wine,icecream,sandwiches',
 'breakfast_brunch,salad,juicebars',
 'newamerican,cookingschools',
 'newamerican,bars,desserts',
 'salad,soup,sandwiches',
 'venues,tradamerican',
 'noodles,salad,pastashops',
 'bars,burgers',
 'hotdogs,chickenshop,filipino',
 'hotdog,shavedice',
 'italian',
 'sushi,thai,asianfusion',
 'pizza,italian,chicken_wings',
 'mexican,tradamerican,salad',
 'coffee,breakfast_brunch,cafes',
 'coffee,breakfast_brunch,sandwiches',
 'food_court,gourmet',
 'sandwiches,salad,breakfast_brunch',
 'newamerican',
 'sushi,ramen,food_court',
 'sandwiches,cafes,soup',
 'italian,steak',
 'seafood',
 'sandwiches,hotdogs,salad',
 'italian,breakfast_brunch',
 'seafood,salad,sandwiches',
 'newamerican,bars,breakfast_brunch',
 'burgers,hotdogs,coffee',
 'salad,vegetarian,grocery',
 'mediterranean,mideastern,sandwiches',
 'thai,cocktailbars',
 'mexican',
 'newamerican,cocktailbars',
 'ramen',
 'modern_european,wine_bars,cideries',
 'french',
 'italian,pastashops',
 'burgers,beerbar,tradamerican',
 'hawaiian',
 'argentine,italian',
 'korean,newamerican',
 'newamerican,bars,ramen',
 'tradamerican,mexican,diners',
 'chickenshop,hotdogs,breakfast_brunch',
 'asianfusion,chinese,panasian',
 'cuban,latin,caribbean',
 'mediterranean,french,brasseries',
 'jazzandblues,breakfast_brunch,gastropubs',
 'pizza,italian',
 'caribbean,cuban',
 'empanadas,mexican,breakfast_brunch',
 'cajun,seafood,desserts',
 'diners,breakfast_brunch',
 'pizza,seafood,cocktailbars',
 'chickenshop,halal',
 'newamerican,irish_pubs,gastropubs',
 'mexican',
 'burgers,tradamerican,cocktailbars',
 'bars,pizza,irish',
 'burgers,hotdog,hotdogs',
 'argentine,lounges,sportsbars',
 'mexican,salad,cocktailbars',
 'panasian',
 'asianfusion,szechuan,cantonese',
 'newamerican,coffee,breakfast_brunch',
 'coffee,modern_european',
 'tradamerican,seafood,hotdogs',
 'sportsbars,burgers',
 'mexican',
 'breakfast_brunch,cafes,juicebars',
 'chicken_wings',
 'sandwiches',
 'burgers,sandwiches,pizza',
 'jazzandblues,bars,modern_european',
 'breakfast_brunch,tradamerican',
 'german,beerbar,tapasmallplates',
 'pizza,tradamerican,beerbar',
 'mediterranean,mideastern,halal',
 'hotdog,salad,burgers',
 'breakfast_brunch,waffles',
 'japanese,sushi',
 'italian,bars',
 'pubs,breakfast_brunch,tradamerican',
 'mexican,seafood',
 'cafes,bakeries,modern_european',
 'sandwiches',
 'mexican',
 'pastashops,italian,delis',
 'thai,soup,chicken_wings',
 'mexican',
 'turkish,mediterranean,halal',
 'fooddeliveryservices,southern,seafood',
 'noodles',
 'italian,seafood,sandwiches',
 'arcades,pizza,venues',
 'tradamerican,sportsbars,sandwiches',
 'latin',
 'japanese,sushi',
 'mexican',
 'thai',
 'burgers,hotdogs',
 'polish,desserts,soup',
 'seafood',
 'cuban,sandwiches',
 'chinese,asianfusion',
 'bbq,fooddeliveryservices,sandwiches',
 'latin',
 'mediterranean,pizza,juicebars',
 'thai',
 'desserts,breakfast_brunch,foodtrucks',
 'mexican',
 'vegetarian,breakfast_brunch,tradamerican',
 'german,pubs,beerbar',
 'korean,gluten_free,vegetarian',
 'thai,wine_bars,cocktailbars',
 'chinese',
 'pubs,tradamerican,beerbar',
 'foodtrucks,tacos',
 'bbq',
 'burgers',
 'pizza,colombian,breakfast_brunch',
 'peruvian',
 'newamerican,burgers,cocktailbars',
 'breakfast_brunch',
 'mexican,hotdogs',
 'hotdogs,tradamerican,sandwiches',
 'chinese',
 'cocktailbars,breakfast_brunch,pizza',
 'bbq',
 'vegetarian,vegan,cocktailbars',
 'newamerican,greek,hotdogs',
 'foodtrucks,german,kebab',
 'mexican',
 'divebars,irish_pubs,tradamerican',
 'burgers',
 'cafes',
 'hotdogs,korean,food_court',
 'latin,mexican',
 'mexican,breakfast_brunch,soup',
 'chinese',
 'burgers,greek,beerbar',
 'breakfast_brunch',
 'hotdogs,pizza',
 'bars,sandwiches',
 'salad,bars,breakfast_brunch',
 'breakfast_brunch,cafes',
 'polish,modern_european',
 'cafes,sandwiches,coffee',
 'latin',
 'salad,breakfast_brunch,burgers',
 'breakfast_brunch,burgers,sandwiches',
 'foodtrucks,tradamerican,puertorican',
 'mexican',
 'chinese',
 'mexican',
 'mexican',
 'chinese',
 'mexican',
 'newamerican',
 'tradamerican,cocktailbars',
 'cafes,salad,newamerican',
 'steak,seafood,breakfast_brunch',
 'italian,desserts,salad',
 'newamerican',
 'italian',
 'korean,tacos,asianfusion',
 'tradamerican,comfortfood,venues',
 'indpak,pakistani,bbq',
 'tradamerican,gastropubs,cocktailbars',
 'newamerican,tacos,vegetarian',
 'italian',
 'breakfast_brunch,wine_bars,newamerican',
 'burgers',
 'tradamerican,breakfast_brunch',
 'pizza,italian',
 'thai',
 'italian',
 'mideastern',
 'tacos,cocktailbars,beerbar',
 'sportsbars,newamerican,tacos',
 'bars,salad,venues',
 'pizza,italian,wine_bars',
 'breakfast_brunch,sandwiches,coffee',
 'pizza,breakfast_brunch,cocktailbars',
 'cafes,brazilian,coffee',
 'pakistani,halal,newamerican',
 'tradamerican,sportsbars,beerbar',
 'newamerican,sportsbars,chicken_wings',
 'bbq,breakfast_brunch,venues',
 'italian,seafood,salad',
 'sushi,izakaya',
 'italian,venues',
 'pizza,bars,breakfast_brunch',
 'mexican,hotdogs',
 'bars,german,breakfast_brunch',
 'ramen,izakaya,tapas',
 'beer_and_wine,cafes',
 'vegetarian',
 'japanese,hotpot',
 'sushi,japanese',
 'bars,breakfast_brunch,burgers',
 'newamerican,lounges,cocktailbars',
 'cocktailbars,lounges,tapasmallplates',
 'divebars,venues,newamerican',
 'bagels,sandwiches',
 'bars,sandwiches,sushi',
 'mideastern,halal',
 'bars,pizza,italian',
 'mexican,bars,gluten_free',
 'cafes',
 'southafrican,chickenshop,portuguese',
 'ramen,izakaya',
 'breakfast_brunch,coffee,sandwiches',
 'newamerican,irish_pubs,burgers',
 'fishnchips,seafood,burgers',
 'mexican',
 'thai',
 'korean,gluten_free',
 'vegan',
 'breakfast_brunch,tradamerican',
 'mexican',
 'newamerican,burgers,hotdog',
 'sportsbars,bowling,tradamerican',
 'italian,bars',
 'breweries,newamerican',
 'pizza,newamerican,breakfast_brunch',
 'latin,caribbean,cocktailbars',
 'asianfusion,bars',
 'newamerican,steak',
 'southern,cocktailbars,breakfast_brunch',
 'filipino,bakeries,newamerican',
 'german,southern',
 'vietnamese,hainan,noodles',
 'cocktailbars,newamerican',
 'pastashops,italian',
 'korean',
 'breakfast_brunch,mideastern,cocktailbars',
 'newamerican,cocktailbars',
 'tradamerican,cocktailbars,chicken_wings',
 'brewpubs,tapasmallplates,cocktailbars',
 'asianfusion,poke,sushi',
 'brasseries,cocktailbars,steak',
 'breakfast_brunch,delis,sandwiches',
 'gourmet,newamerican,beer_and_wine',
 'southern,tex-mex,breakfast_brunch',
 'korean,tacos',
 'italian',
 'tradamerican',
 'breakfast_brunch,coffee,burgers',
 'asianfusion,ramen',
 'italian',
 'mediterranean',
 'vegan,vegetarian,gluten_free',
 'asianfusion,ramen',
 'argentine,steak,comfortfood',
 'asianfusion,chinese,sushi',
 'mediterranean,greek,cocktailbars',
 'chinese',
 'tacos',
 'breakfast_brunch,newamerican,coffee',
 'newamerican,breakfast_brunch',
 'coffee,breakfast_brunch,sandwiches',
 'asianfusion,japanese,sushi',
 'turkish,mediterranean',
 'sandwiches,bubbletea',
 'newamerican',
 'newamerican,puertorican',
 'pizza,bars,breakfast_brunch',
 'pubs,british,indpak',
 'cocktailbars,wine_bars,seafood',
 'latin,puertorican,chickenshop',
 'breakfast_brunch,puertorican,sandwiches',
 'thai,asianfusion',
 'pizza,sandwiches,salad',
 'bakeries,sandwiches',
 'mexican',
 'wine_bars,italian',
 'thai',
 'ukrainian,breakfast_brunch,venues',
 'seafood,modern_european,bars',
 'southern,breakfast_brunch,diners',
 'southern,whiskeybars',
 'sandwiches',
 'burgers,hotdogs',
 'comfortfood,tradamerican,seafood',
 'conveyorsushi,sushi',
 'cajun,soulfood',
 'spanish',
 'korean,bbq,bars',
 'sandwiches,bars,tradamerican',
 'italian',
 'mediterranean,mideastern,halal',
 'newamerican,bars',
 'mexican,venues',
 'ramen,izakaya',
 'sportsbars,newamerican,pizza',
 'greek,mediterranean,wine_bars',
 'mexican,burgers,indpak',
 'newamerican,cocktailbars',
 'mexican,latin,bars',
 'sandwiches,chickenshop',
 'pizza,mexican',
 'hotdog,burgers,hotdogs',
 'desserts,coffee,breakfast_brunch',
 'tex-mex',
 'greek,bars,coffee',
 'breakfast_brunch,puertorican,cafes',
 'korean,chickenshop,asianfusion',
 'italian,wine_bars,pizza',
 'cheesesteaks,burgers,waffles',
 'breakfast_brunch,cafes,juicebars',
 'puertorican',
 'pizza,breweries',
 'mideastern,mediterranean,seafood',
 'pizza,salad,italian',
 'japanese,sushi',
 'asianfusion,chinese',
 'coffee,cafes,cajun',
 'portuguese,wine_bars,seafood',
 'mexican,bars,breakfast_brunch',
 'ukrainian',
 'breakfast_brunch,tradamerican,filipino',
 'mexican,breakfast_brunch,newmexican',
 'japanese,sushi',
 'hotdog,salad,burgers',
 'newamerican',
 'pizza,tradamerican',
 'sandwiches,breakfast_brunch,bakeries',
 'tradamerican,pubs,divebars',
 'italian,wine_bars,seafood',
 'tradamerican,sportsbars',
 'pubs,newamerican',
 'mexican,breakfast_brunch',
 'sushi,japanese',
 'mexican',
 'mediterranean',
 'vietnamese,thai,desserts',
 'tradamerican',
 'mexican',
 'mediterranean',
 'italian',
 'italian,pizza,chicken_wings',
 'breakfast_brunch,cafes',
 'mexican',
 'mexican',
 'italian,burgers,chicken_wings',
 'persian,seafood,mideastern',
 'seafood,mexican',
 'newamerican,breakfast_brunch,pizza',
 'tapasmallplates,cocktailbars,newamerican',
 'bars,newamerican',
 'italian',
 'mexican,cocktailbars,sandwiches',
 'italian,bars,salad',
 'asianfusion,tikibars',
 'tradamerican,cocktailbars,venues',
 'italian,wine_bars',
 'mexican,breakfast_brunch,sandwiches',
 'mediterranean,tapasmallplates,salad',
 'ramen',
 'korean,bbq,asianfusion',
 'italian',
 'korean,mexican,asianfusion',
 'newamerican',
 'mediterranean',
 'steak,seafood,bars',
 'newamerican',
 'wine_bars,breakfast_brunch,cafes',
 'japanese,sushi,soup',
 'hotdog,salad,burgers',
 'mexican,french',
 'italian,newamerican,pizza',
 'greek,tapasmallplates',
 'spanish,tapasmallplates,wine_bars',
 'newamerican,breakfast_brunch',
 'seafood,mexican,latin',
 'italian',
 'seafood,tapasmallplates',
 'pizza',
 'tradamerican,cocktailbars,whiskeybars',
 'asianfusion,sushi,japanese',

In [27]:
# Find all unique categories and count occurances
unique_categories = {}

for index,row in categories_expanded_df.iterrows():
    types_list = categories_expanded_df['alias_categories'][index].split(",")
    for category in types_list:
        if category not in unique_categories:
            unique_categories[category]=1
        elif category in unique_categories:
            unique_categories[category]+=1

In [28]:
len(unique_categories)

520

In [29]:
# Create dataframe of unique categories list with count
all_unique_cat_df = pd.DataFrame.from_dict(unique_categories, orient='index')
all_unique_cat_df.head()

                     0
bars             13166
newamerican      15980
wine_bars         3741
italian          13440
tapasmallplates   1568

In [30]:
# Rename count column and sort
all_unique_cat_df.rename(columns={0:"Count"}, inplace=True)
all_unique_cat_df.sort_values(by=["Count"], ascending=False, inplace=True)

In [31]:
all_unique_cat_df

                    Count
tradamerican        34025
pizza               26642
sandwiches          26485
burgers             25779
mexican             25001
...                   ...
adultentertainment      1
golfequipment           1
headshops               1
surfshop                1
healthtrainers          1

[520 rows x 1 columns]

In [32]:
# Make list of all unique categories for manual filtering
unique_categories_list = unique_categories.keys()
unique_categories_list

dict_keys(['bars', 'newamerican', 'wine_bars', 'italian', 'tapasmallplates', 'pizza', 'breakfast_brunch', 'mexican', 'mediterranean', 'sandwiches', 'pubs', 'breweries', 'cajun', 'seafood', 'desserts', 'cafes', 'venezuelan', 'coffee', 'comfortfood', 'tradamerican', 'cocktailbars', 'bagels', 'salad', 'burgers', 'korean', 'chicken_wings', 'french', 'fishnchips', 'asianfusion', 'ramen', 'hotdogs', 'filipino', 'beerbar', 'irish', 'mideastern', 'venues', 'japanese', 'thai', 'chinese', 'vietnamese', 'bbq', 'gastropubs', 'noodles', 'sushi', 'himalayan', 'indpak', 'chickenshop', 'australian', 'brazilian', 'japacurry', 'brewpubs', 'hotdog', 'tex-mex', 'conveyorsushi', 'sportsbars', 'danceclubs', 'modern_european', 'georgian', 'vegan', 'southern', 'turkish', 'kebab', 'steak', 'scandinavian', 'colombian', 'juicebars', 'grocery', 'cupcakes', 'karaoke', 'caribbean', 'creperies', 'falafel', 'greek', 'tacos', 'lounges', 'uzbek', 'latin', 'bakeries', 'hawaiian', 'diners', 'popuprestaurants', 'scottish', 'vegetarian', 'soup', 'musicvenues', 'kosher', 'dimsum', 'cantonese', 'beergardens', 'szechuan', 'whiskeybars', 'spanish', 'portuguese', 'southafrican', 'hotpot', 'puertorican', 'tapas', 'eventplanning', 'malaysian', 'singaporean', 'wraps', 'waffles', 'lebanese', 'bubbletea', 'taiwanese', 'raw_food', 'halal', 'gluten_free', 'delis', 'cuban', 'german', 'argentine', 'beer_and_wine', 'gaybars', 'festivals', 'pancakes', 'donuts', 'supperclubs', 'restaurants', 'comedyclubs', 'foodtrucks', 'catering', 'food_court', 'poke', 'peruvian', 'russian', 'british', 'indonesian', 'icecream', 'cookingschools', 'pastashops', 'shavedice', 'gourmet', 'cideries', 'panasian', 'brasseries', 'jazzandblues', 'empanadas', 'irish_pubs', 'fooddeliveryservices', 'arcades', 'polish', 'divebars', 'pakistani', 'izakaya', 'bowling', 'hainan', 'ukrainian', 'soulfood', 'cheesesteaks', 'newmexican', 'persian', 'tikibars', 'gelato', 'sports_clubs', 'tuscan', 'boattours', 'convenience', 'publicmarkets', 'butcher', 'meats', 'themedcafes', 'beverage_stores', 'eatertainment', 'moroccan', '', 'tabletopgames', 'foodstands', 'salvadoran', 'dominican', 'drivethrubars', 'smokehouse', 'healthmarkets', 'cafeteria', 'african', 'buffets', 'diyfood', 'streetvendors', 'hookah_bars', 'golf', 'nightlife', 'shanghainese', 'tea', 'cakeshop', 'poolhalls', 'teppanyaki', 'haitian', 'giftshops', 'afghani', 'customcakes', 'honduran', 'personalchefs', 'austrian', 'srilankan', 'social_clubs', 'intlgrocery', 'importedfood', 'burmese', 'wineries', 'hkcafe', 'seafoodmarkets', 'mongolian', 'fondue', 'acaibowls', 'videogamestores', 'airportlounges', 'bike_repair_maintenance', 'sportswear', 'farmersmarket', 'nonprofit', 'movietheaters', 'dinnertheater', 'ethiopian', 'meaderies', 'armenian', 'pianobars', 'markets', 'popupshops', 'winetastingroom', 'cheese', 'museums', 'coffeeroasteries', 'basque', 'arts', 'theater', 'somali', 'sicilian', 'culturalcenter', 'distilleries', 'cookingclasses', 'organic_stores', 'aquariums', 'vinyl_records', 'hotels', 'laotian', 'furniture', 'egyptian', 'pretzels', 'internetcafe', 'florists', 'photographystores', 'macarons', 'dog_parks', 'hardware', 'cambodian', 'belgian', 'winetasteclasses', 'eritrean', 'bookstores', 'champagne_bars', 'cigarbars', 'servicestations', 'galleries', 'nicaraguan', 'mini_golf', 'poutineries', 'yoga', 'massage_therapy', 'nutritionists', 'jewelry', 'speakeasies', 'syrian', 'vacation_rentals', 'bartenders', 'tours', 'food', 'pickleball', 'boating', 'marinas', 'arabian', 'candy', 'polynesian', 'catalan', 'trinidadian', 'hungarian', 'calabrian', 'gyms', 'czech', 'guamanian', 'sardinian', 'chocolate', 'thrift_stores', 'laundromat', 'shoppingcenters', 'beautysvc', 'barbers', 'personal_injury', 'workerscomplaw', 'businesslawyers', 'stadiumsarenas', 'countrydancehalls', 'bikerentals', 'surfing', 'churches', 'senegalese', 'menscloth', 'autorepair', 'drugstores', 'farms', 'sportsbetting', 'football', 'eventservices', 'media', 'bedbreakfast', 'axethrowing', 'bangladeshi', 'carwash', 'indoor_playcenter', 'casinos', 'bulgarian', 'kombucha', 'swimmingpools', 'medcenters', 'paintyourownpottery', 'antiques', 'paintandsip', 'playgrounds', 'vintage', 'winetours', 'horseracing', 'suppliesrestaurant', 'tobaccoshops', 'homedecor', 'iberian', 'waterstores', 'piadina', 'oliveoil', 'amusementparks', 'petadoption', 'wedding_planning', 'djs', 'specialed', 'escapegames', 'localflavor', 'sharedofficespaces', 'pharmacy', 'weightlosscenters', 'spas', 'toys', 'kids_activities', 'countryclubs', 'cabaret', 'veteransorganizations', 'musicvideo', 'hobbyshops', 'autopartssupplies', 'fleamarkets', 'artclasses', 'bikes', 'rodeo', 'vermouthbars', 'facepainting', 'graphicdesign', 'honey', 'popcorn', 'adultentertainment', 'artschools', 'kitchensupplies', 'permanentmakeup', 'hair', 'waxing', 'accessories', 'partyequipmentrentals', 'poolbilliards', 'rafting', 'attractionfarms', 'flowers', 'parks', 'hotelstravel', 'cheesetastingclasses', 'recreation', 'beertours', 'contractors', 'painters', 'resorts', 'driveintheater', 'bocceball', 'artsandcrafts', 'discgolf', 'triviahosts', 'gardening', 'herbsandspices', 'mobilephonerepair', 'battingcages', 'partybusrentals', 'landmarks', 'gamemeat', 'tennis', 'animalshelters', 'gun_ranges', 'guns_and_ammo', 'shavedsnow', 'collegeuniv', 'foodtours', 'historicaltours', 'vitaminssupplements', 'skincare', 'fitness', 'campgrounds', 'framing', 'guesthouses', 'realestate', 'golflessons', 'magicians', 'evchargingstations', 'womenscloth', 'wholesale_stores', 'candlestores', 'communitycenters', 'buildingsupplies', 'grillservices', 'healthcoach', 'auctionhouses', 'personal_shopping', 'kitchenincubators', 'partysupplies', 'custommerchandise', 'usedbooks', 'oilchange', 'rvparks', 'gokarts', 'parasailing', 'comicbooks', 'pubfood', 'bistros', 'beaches', 'fishing', 'virtualrealitycenters', 'massage', 'specialtyschools', 'skishops', 'huntingfishingsupplies', 'surfshop', 'headshops', 'pettingzoos', 'golfequipment', 'boatcharters', 'artmuseums', 'floraldesigners', 'stationery', 'lasertag', 'skatingrinks', 'foodbanks', 'ranches', 'bridal', 'auto_detailing', 'csa', 'religiousitems', 'shopping', 'saunas', 'halotherapy', 'petstore', 'psychic_astrology', 'souvenirs', 'livestocksupply', 'musicians', 'bingo', 'rvrental', 'financialadvising', 'lakes', 'libraries', 'plumbing', 'hvac', 'yelpevents', 'baseballfields', 'pickyourown', 'musicalinstrumentsandteachers', 'sandblasting', 'othersalons', 'parking', 'videoandgames', 'hiking', 'wildlifehunting', 'deptstores', 'motorcyclinggear', 'petservices', 'movers', 'reststops', 'fueldocks', 'banks', 'realestatesvcs', 'outdoorgear', 'costumes', 'modern_australian', 'truckrepair', 'elementaryschools', 'highschools', 'postoffices', 'cosmetics', 'tanning', 'active', 'brewingsupplies', 'musicinstrumentservices', 'landscaping', 'motorcycledealers', 'skateshops', 'holidaydecorations', 'tires', 'skiresorts', 'sportgoods', 'wholesalers', 'mags', 'rotisserie_chicken', 'hotsprings', 'international', 'walkingtours', 'propane', 'ticketsales', 'grillingequipment', 'homeandgarden', 'jetskis', 'hostels', 'atvrentals', 'slovakian', 'archery', 'sledding', 'tcm', 'vapeshops', 'commercialrealestate', 'healthtrainers'])

#### Manually filter for restaurant related categories

Primary activity of business should be serving food and drink

Non-food/drink related categories removed: 'venues', 'danceclubs', 'karaoke', 'lounges','musicvenues', 'eventplanning', 'festivals', 'comedyclubs',  'jazzandblues', 'arcades', 'bowling', 'sports_clubs', 'boattours', 'convenience', 'publicmarkets', '', 'tabletopgames', 'golf', 'nightlife', 'poolhalls', 'giftshops', 'social_clubs', 'videogamestores', 'airportlounges', 'bike_repair_maintenance', 'sportswear', 'nonprofit', 'movietheaters', 'dinnertheater', 'markets', 'popupshops', 'museums', 'arts', 'theater', 'culturalcenter',  'organic_stores', 'aquariums', 'vinyl_records', 'hotels', 'furniture', 'florists', 'photographystores', 'dog_parks', 'hardware', 'bookstores', 'cigarbars', 'servicestations', 'galleries', 'mini_golf', 'yoga', 'massage_therapy', 'nutritionists', 'jewelry', 'vacation_rentals', 'bartenders', 'tours', 'pickleball', 'boating', 'marinas', 'gyms', 'thrift_stores', 'laundromat', 'shoppingcenters', 'beautysvc', 'barbers', 'personal_injury', 'workerscomplaw', 'businesslawyers', 'stadiumsarenas', 'countrydancehalls', 'bikerentals', 'surfing', 'churches', 'menscloth', 'autorepair', 'drugstores', 'sportsbetting', 'football', 'eventservices', 'media', 'bedbreakfast', 'axethrowing', 'carwash', 'indoor_playcenter', 'casinos', 'swimmingpools', 'medcenters', 'paintyourownpottery', 'antiques', 'paintandsip', 'playgrounds', 'vintage', 'horseracing', 'suppliesrestaurant', 'tobaccoshops', 'homedecor', 'waterstores', 'amusementparks', 'petadoption', 'wedding_planning', 'djs', 'specialed', 'escapegames', 'localflavor', 'sharedofficespaces', 'pharmacy', 'weightlosscenters', 'spas', 'toys', 'kids_activities', 'countryclubs', 'cabaret', 'veteransorganizations', 'musicvideo', 'hobbyshops', 'autopartssupplies', 'fleamarkets', 'artclasses', 'bikes', 'rodeo', 'facepainting', 'graphicdesign', 'adultentertainment', 'artschools', 'kitchensupplies', 'permanentmakeup', 'hair', 'waxing', 'accessories', 'partyequipmentrentals', 'poolbilliards', 'rafting', 'attractionfarms', 'flowers', 'parks', 'hotelstravel', 'recreation', 'contractors', 'painters', 'resorts', 'driveintheater', 'bocceball', 'artsandcrafts', 'discgolf', 'triviahosts', 'gardening', 'herbsandspices', 'mobilephonerepair', 'battingcages', 'partybusrentals', 'landmarks', 'tennis', 'animalshelters', 'gun_ranges', 'guns_and_ammo', 'collegeuniv', 'historicaltours', 'vitaminssupplements', 'skincare', 'fitness', 'campgrounds', 'framing', 'guesthouses', 'realestate', 'golflessons', 'magicians', 'evchargingstations', 'womenscloth', 'wholesale_stores', 'candlestores', 'communitycenters', 'buildingsupplies', 'grillservices', 'healthcoach', 'auctionhouses', 'personal_shopping', 'kitchenincubators', 'partysupplies', 'custommerchandise', 'usedbooks', 'oilchange', 'rvparks', 'gokarts', 'parasailing', 'comicbooks', 'beaches', 'fishing', 'virtualrealitycenters', 'massage', 'specialtyschools', 'skishops', 'huntingfishingsupplies', 'surfshop', 'headshops', 'pettingzoos', 'golfequipment', 'boatcharters', 'artmuseums', 'floraldesigners', 'stationery', 'lasertag', 'skatingrinks', 'ranches', 'bridal', 'auto_detailing', 'religiousitems', 'shopping', 'saunas', 'halotherapy', 'petstore', 'psychic_astrology', 'souvenirs', 'livestocksupply', 'musicians', 'bingo', 'rvrental', 'financialadvising', 'lakes', 'libraries', 'plumbing', 'hvac', 'yelpevents', 'baseballfields', 'pickyourown', 'musicalinstrumentsandteachers', 'sandblasting', 'othersalons', 'parking', 'videoandgames', 'hiking', 'wildlifehunting', 'deptstores', 'motorcyclinggear', 'petservices', 'movers', 'reststops', 'fueldocks', 'banks', 'realestatesvcs', 'outdoorgear', 'costumes', 'truckrepair', 'elementaryschools', 'highschools', 'postoffices', 'cosmetics', 'tanning', 'active', 'musicinstrumentservices', 'landscaping', 'motorcycledealers', 'skateshops', 'holidaydecorations', 'tires', 'skiresorts', 'sportgoods', 'wholesalers', 'mags', 'hotsprings', 'international', 'walkingtours', 'propane', 'ticketsales', 'grillingequipment', 'homeandgarden', 'jetskis', 'hostels', 'atvrentals', 'archery', 'sledding', 'tcm', 'vapeshops', 'commercialrealestate', 'healthtrainers' 

Non-restaurant food/drink items removed (too generic or seems like grocery stores): 'grocery', 'restaurants', 'catering', 'food_court', 'cookingschools', 'fooddeliveryservices', 'butcher', 'meats', 'beverage_stores', 'healthmarkets', 'cafeteria', 'hookah_bars', 'personalchefs', 'intlgrocery', 'importedfood', 'seafoodmarkets', 'farmersmarket', 'winetastingroom', 'cookingclasses', 'winetasteclasses', 'food', 'candy', 'chocolate', 'farms', 'winetours', 'oliveoil', 'honey', 'popcorn', 'cheesetastingclasses', 'beertours', 'gamemeat', 'foodtours', 'foodbanks', 'csa', 'brewingsupplies',

In [33]:
# Create new list of only restaurant/bar related categories (must serve food/drink as primary activity)
restaurant_categories_list=['bars', 'newamerican', 'wine_bars', 'italian', 'tapasmallplates', 'pizza',\
                            'breakfast_brunch', 'mexican', 'mediterranean', 'sandwiches', 'pubs', 'breweries',\
                            'cajun', 'seafood', 'desserts', 'cafes', 'venezuelan', 'coffee', 'comfortfood',\
                            'tradamerican', 'cocktailbars', 'bagels', 'salad', 'burgers', 'korean', 'chicken_wings',\
                            'french', 'fishnchips', 'asianfusion', 'ramen', 'hotdogs', 'filipino', 'beerbar', 'irish',\
                            'mideastern', 'japanese', 'thai', 'chinese', 'vietnamese', 'bbq', 'gastropubs', 'noodles',\
                            'sushi', 'himalayan', 'indpak', 'chickenshop', 'australian', 'brazilian', 'japacurry',\
                            'brewpubs', 'hotdog', 'tex-mex', 'conveyorsushi', 'sportsbars', 'modern_european',\
                            'georgian', 'vegan', 'southern', 'turkish', 'kebab', 'steak', 'scandinavian',\
                            'colombian', 'juicebars', 'cupcakes', 'caribbean', 'creperies', 'falafel', 'greek',\
                            'tacos', 'uzbek', 'latin', 'bakeries', 'hawaiian', 'diners', 'popuprestaurants',\
                            'scottish', 'vegetarian', 'soup', 'kosher', 'dimsum', 'cantonese', 'beergardens',\
                            'szechuan', 'whiskeybars', 'spanish', 'portuguese', 'southafrican', 'hotpot',\
                            'puertorican', 'tapas', 'malaysian', 'singaporean', 'wraps', 'waffles', 'lebanese',\
                            'bubbletea', 'taiwanese', 'raw_food', 'halal', 'gluten_free', 'delis', 'cuban',\
                            'german', 'argentine', 'beer_and_wine', 'gaybars', 'pancakes', 'donuts', 'supperclubs',\
                            'foodtrucks', 'poke', 'peruvian', 'russian', 'british', 'indonesian', 'icecream',\
                            'pastashops', 'shavedice', 'gourmet', 'cideries', 'panasian', 'brasseries','empanadas',\
                            'irish_pubs', 'polish', 'divebars', 'pakistani', 'izakaya', 'hainan', 'ukrainian',\
                            'soulfood', 'cheesesteaks', 'newmexican', 'persian', 'tikibars', 'gelato', 'tuscan',\
                            'themedcafes', 'eatertainment', 'moroccan', 'foodstands', 'salvadoran', 'dominican',\
                            'drivethrubars', 'smokehouse', 'african', 'buffets', 'diyfood', 'streetvendors',\
                            'shanghainese', 'tea', 'cakeshop','teppanyaki', 'haitian', 'afghani', 'customcakes',\
                            'honduran', 'austrian', 'srilankan', 'burmese', 'wineries', 'hkcafe', 'mongolian',\
                            'fondue', 'acaibowls', 'ethiopian', 'meaderies', 'armenian', 'pianobars', 'cheese',\
                            'coffeeroasteries', 'basque', 'somali', 'sicilian', 'distilleries','laotian',\
                            'egyptian', 'pretzels', 'internetcafe', 'macarons', 'cambodian', 'belgian',\
                            'eritrean', 'champagne_bars', 'nicaraguan', 'poutineries', 'speakeasies', 'syrian',\
                            'arabian', 'polynesian', 'catalan', 'trinidadian', 'hungarian', 'calabrian', 'czech',\
                            'guamanian', 'sardinian', 'senegalese','bangladeshi', 'bulgarian', 'kombucha',\
                            'iberian', 'piadina', 'vermouthbars', 'shavedsnow','pubfood', 'bistros','modern_australian',\
                            'rotisserie_chicken', 'slovakian']

In [34]:
len(restaurant_categories_list)

211

### Count categories for each restaurant

In [35]:
# Make columns for all restaurant type categories
categories_expanded_df[restaurant_categories_list]=0

In [36]:
# Explore
categories_expanded_df.head()

,postal_code,City,State,CountyName,2021,latitude,longitude,review_count,rating,categories,...,kombucha,iberian,piadina,vermouthbars,shavedsnow,pubfood,bistros,modern_australian,rotisserie_chicken,slovakian
0,60657.0,Chicago,IL,Cook County,507204.0,41.936430,-87.661410,354,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",...,0,0,0,0,0,0,0,0,0,0
1,60657.0,Chicago,IL,Cook County,507204.0,41.940150,-87.653860,212,4.5,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",...,0,0,0,0,0,0,0,0,0,0
2,60657.0,Chicago,IL,Cook County,507204.0,41.937420,-87.648300,60,5.0,"[{'alias': 'pizza', 'title': 'Pizza'}]",...,0,0,0,0,0,0,0,0,0,0
3,60657.0,Chicago,IL,Cook County,507204.0,41.942829,-87.649185,593,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",...,0,0,0,0,0,0,0,0,0,0
4,60657.0,Chicago,IL,Cook County,507204.0,41.947133,-87.646892,35,5.0,"[{'alias': 'mexican', 'title': 'Mexican'}]",...,0,0,0,0,0,0,0,0,0,0

In [37]:
# Explore
categories_expanded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240589 entries, 0 to 240588
Columns: 239 entries, postal_code to slovakian
dtypes: float64(5), int64(219), object(5), uint8(10)
memory usage: 422.6+ MB

In [38]:
# Number of columns
categories_expanded_df.columns

Index(['postal_code', 'City', 'State', 'CountyName', '2021', 'latitude',
       'longitude', 'review_count', 'rating', 'categories',
       ...
       'kombucha', 'iberian', 'piadina', 'vermouthbars', 'shavedsnow',
       'pubfood', 'bistros', 'modern_australian', 'rotisserie_chicken',
       'slovakian'],
      dtype='object', length=239)

In [39]:
# Count categories for each restaurant
# Use iterrow to add 1 to columns where category exists:
for index,row in categories_expanded_df.iterrows():
    types_list = categories_expanded_df["alias_categories"][index].split(",")
    for category in restaurant_categories_list:
        if category in types_list:
            categories_expanded_df[category][index]=1

<ipython-input-39-c271260fd91c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_expanded_df[category][index]=1

In [40]:
# Confirm with 'bars' - should be 13166
categories_expanded_df.bars.value_counts()

0    227423
1     13166
Name: bars, dtype: int64

In [41]:
# Confirm with 'pizza' - should be 26642
categories_expanded_df.pizza.value_counts()

0    213947
1     26642
Name: pizza, dtype: int64

In [43]:
# Confirm with 'mexican' - should be 25001
categories_expanded_df.mexican.value_counts()

0    215588
1     25001
Name: mexican, dtype: int64

In [44]:
# Export to csv
categories_expanded_df.to_csv('../Processed_Data/corrected_yelp_api_categories_expanded.csv', index=False)

### Expand stars for each restaurant category type

In [45]:
# Make new dataframe for expansion
stars_categories_expanded_df = categories_expanded_df.copy()

In [46]:
# Add an additional column for each restaurant category
for category in restaurant_categories_list:
    stars_categories_expanded_df[f'{category}_stars']=0.0

In [47]:
len(stars_categories_expanded_df.columns)

450

In [48]:
stars_categories_expanded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240589 entries, 0 to 240588
Columns: 450 entries, postal_code to slovakian_stars
dtypes: float64(216), int64(219), object(5), uint8(10)
memory usage: 809.9+ MB

In [49]:
stars_categories_expanded_df.bars_stars.dtype

dtype('float64')

In [50]:
stars_categories_expanded_df.head()

,postal_code,City,State,CountyName,2021,latitude,longitude,review_count,rating,categories,...,kombucha_stars,iberian_stars,piadina_stars,vermouthbars_stars,shavedsnow_stars,pubfood_stars,bistros_stars,modern_australian_stars,rotisserie_chicken_stars,slovakian_stars
0,60657.0,Chicago,IL,Cook County,507204.0,41.936430,-87.661410,354,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,60657.0,Chicago,IL,Cook County,507204.0,41.940150,-87.653860,212,4.5,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,60657.0,Chicago,IL,Cook County,507204.0,41.937420,-87.648300,60,5.0,"[{'alias': 'pizza', 'title': 'Pizza'}]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60657.0,Chicago,IL,Cook County,507204.0,41.942829,-87.649185,593,4.0,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,60657.0,Chicago,IL,Cook County,507204.0,41.947133,-87.646892,35,5.0,"[{'alias': 'mexican', 'title': 'Mexican'}]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
# Fill in stars for each restaurant type column if "1" in restaurant types
for index,row in stars_categories_expanded_df.iterrows():
    types_list = stars_categories_expanded_df["alias_categories"][index].split(",")
    for category in restaurant_categories_list:
        if category in types_list:
            stars_categories_expanded_df[f'{category}_stars'][index]=stars_categories_expanded_df['rating'][index]

<ipython-input-51-4b5579a3b4e3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stars_categories_expanded_df[f'{category}_stars'][index]=stars_categories_expanded_df['rating'][index]

In [52]:
# Confirm with 1st entry
stars_categories_expanded_df.bars_stars[0]

4.0

In [53]:
# Confirm with 2nd entry
stars_categories_expanded_df.wine_bars_stars[1]

4.5

In [54]:
# Confirm with 3rd entry
stars_categories_expanded_df.pizza_stars[2]

5.0

In [55]:
# Remove original categories column
stars_categories_expanded_df.drop(columns=['categories'], axis=1, inplace=True)

In [56]:
stars_categories_expanded_df.columns

Index(['postal_code', 'City', 'State', 'CountyName', '2021', 'latitude',
       'longitude', 'review_count', 'rating', 'delivery',
       ...
       'kombucha_stars', 'iberian_stars', 'piadina_stars',
       'vermouthbars_stars', 'shavedsnow_stars', 'pubfood_stars',
       'bistros_stars', 'modern_australian_stars', 'rotisserie_chicken_stars',
       'slovakian_stars'],
      dtype='object', length=449)

In [57]:
columns_list = stars_categories_expanded_df.columns.to_list()
columns_list

['postal_code',
 'City',
 'State',
 'CountyName',
 '2021',
 'latitude',
 'longitude',
 'review_count',
 'rating',
 'delivery',
 'pickup',
 'restaurant_reservation',
 'price_value_1.0',
 'price_value_2.0',
 'price_value_3.0',
 'price_value_4.0',
 'stars_0.0',
 'stars_1.0',
 'stars_1.5',
 'stars_2.0',
 'stars_2.5',
 'stars_3.0',
 'stars_3.5',
 'stars_4.0',
 'stars_4.5',
 'stars_5.0',
 'alias_categories',
 'bars',
 'newamerican',
 'wine_bars',
 'italian',
 'tapasmallplates',
 'pizza',
 'breakfast_brunch',
 'mexican',
 'mediterranean',
 'sandwiches',
 'pubs',
 'breweries',
 'cajun',
 'seafood',
 'desserts',
 'cafes',
 'venezuelan',
 'coffee',
 'comfortfood',
 'tradamerican',
 'cocktailbars',
 'bagels',
 'salad',
 'burgers',
 'korean',
 'chicken_wings',
 'french',
 'fishnchips',
 'asianfusion',
 'ramen',
 'hotdogs',
 'filipino',
 'beerbar',
 'irish',
 'mideastern',
 'japanese',
 'thai',
 'chinese',
 'vietnamese',
 'bbq',
 'gastropubs',
 'noodles',
 'sushi',
 'himalayan',
 'indpak',
 'chickenshop',
 'australian',
 'brazilian',
 'japacurry',
 'brewpubs',
 'hotdog',
 'tex-mex',
 'conveyorsushi',
 'sportsbars',
 'modern_european',
 'georgian',
 'vegan',
 'southern',
 'turkish',
 'kebab',
 'steak',
 'scandinavian',
 'colombian',
 'juicebars',
 'cupcakes',
 'caribbean',
 'creperies',
 'falafel',
 'greek',
 'tacos',
 'uzbek',
 'latin',
 'bakeries',
 'hawaiian',
 'diners',
 'popuprestaurants',
 'scottish',
 'vegetarian',
 'soup',
 'kosher',
 'dimsum',
 'cantonese',
 'beergardens',
 'szechuan',
 'whiskeybars',
 'spanish',
 'portuguese',
 'southafrican',
 'hotpot',
 'puertorican',
 'tapas',
 'malaysian',
 'singaporean',
 'wraps',
 'waffles',
 'lebanese',
 'bubbletea',
 'taiwanese',
 'raw_food',
 'halal',
 'gluten_free',
 'delis',
 'cuban',
 'german',
 'argentine',
 'beer_and_wine',
 'gaybars',
 'pancakes',
 'donuts',
 'supperclubs',
 'foodtrucks',
 'poke',
 'peruvian',
 'russian',
 'british',
 'indonesian',
 'icecream',
 'pastashops',
 'shavedice',
 'gourmet',
 'cideries',
 'panasian',
 'brasseries',
 'empanadas',
 'irish_pubs',
 'polish',
 'divebars',
 'pakistani',
 'izakaya',
 'hainan',
 'ukrainian',
 'soulfood',
 'cheesesteaks',
 'newmexican',
 'persian',
 'tikibars',
 'gelato',
 'tuscan',
 'themedcafes',
 'eatertainment',
 'moroccan',
 'foodstands',
 'salvadoran',
 'dominican',
 'drivethrubars',
 'smokehouse',
 'african',
 'buffets',
 'diyfood',
 'streetvendors',
 'shanghainese',
 'tea',
 'cakeshop',
 'teppanyaki',
 'haitian',
 'afghani',
 'customcakes',
 'honduran',
 'austrian',
 'srilankan',
 'burmese',
 'wineries',
 'hkcafe',
 'mongolian',
 'fondue',
 'acaibowls',
 'ethiopian',
 'meaderies',
 'armenian',
 'pianobars',
 'cheese',
 'coffeeroasteries',
 'basque',
 'somali',
 'sicilian',
 'distilleries',
 'laotian',
 'egyptian',
 'pretzels',
 'internetcafe',
 'macarons',
 'cambodian',
 'belgian',
 'eritrean',
 'champagne_bars',
 'nicaraguan',
 'poutineries',
 'speakeasies',
 'syrian',
 'arabian',
 'polynesian',
 'catalan',
 'trinidadian',
 'hungarian',
 'calabrian',
 'czech',
 'guamanian',
 'sardinian',
 'senegalese',
 'bangladeshi',
 'bulgarian',
 'kombucha',
 'iberian',
 'piadina',
 'vermouthbars',
 'shavedsnow',
 'pubfood',
 'bistros',
 'modern_australian',
 'rotisserie_chicken',
 'slovakian',
 'bars_stars',
 'newamerican_stars',
 'wine_bars_stars',
 'italian_stars',
 'tapasmallplates_stars',
 'pizza_stars',
 'breakfast_brunch_stars',
 'mexican_stars',
 'mediterranean_stars',
 'sandwiches_stars',
 'pubs_stars',
 'breweries_stars',
 'cajun_stars',
 'seafood_stars',
 'desserts_stars',
 'cafes_stars',
 'venezuelan_stars',
 'coffee_stars',
 'comfortfood_stars',
 'tradamerican_stars',
 'cocktailbars_stars',
 'bagels_stars',
 'salad_stars',
 'burgers_stars',
 'korean_stars',
 'chicken_wings_stars',
 'french_stars',
 'fishnchips_stars',
 'asianfusion_stars',
 'ramen_stars',
 'hotdogs_stars',
 'filipino_stars',
 'beerbar_stars',
 'irish_stars',
 'mideastern_stars',
 'japanese_stars',
 'thai_stars',
 'chinese_stars',
 'vietnamese_stars',
 'bbq_stars',
 'gastropubs_stars',
 'noodles_stars',
 'sushi_stars',
 'himalayan_stars',
 'indpak_stars',
 'chickenshop_stars',
 'australian_stars',
 'brazilian_stars',
 'japacurry_stars',
 'brewpubs_stars',
 'hotdog_stars',
 'tex-mex_stars',
 'conveyorsushi_stars',
 'sportsbars_stars',
 'modern_european_stars',
 'georgian_stars',
 'vegan_stars',
 'southern_stars',
 'turkish_stars',
 'kebab_stars',
 'steak_stars',
 'scandinavian_stars',
 'colombian_stars',
 'juicebars_stars',
 'cupcakes_stars',
 'caribbean_stars',
 'creperies_stars',
 'falafel_stars',
 'greek_stars',
 'tacos_stars',
 'uzbek_stars',
 'latin_stars',
 'bakeries_stars',
 'hawaiian_stars',
 'diners_stars',
 'popuprestaurants_stars',
 'scottish_stars',
 'vegetarian_stars',
 'soup_stars',
 'kosher_stars',
 'dimsum_stars',
 'cantonese_stars',
 'beergardens_stars',
 'szechuan_stars',
 'whiskeybars_stars',
 'spanish_stars',
 'portuguese_stars',
 'southafrican_stars',
 'hotpot_stars',
 'puertorican_stars',
 'tapas_stars',
 'malaysian_stars',
 'singaporean_stars',
 'wraps_stars',
 'waffles_stars',
 'lebanese_stars',
 'bubbletea_stars',
 'taiwanese_stars',
 'raw_food_stars',
 'halal_stars',
 'gluten_free_stars',
 'delis_stars',
 'cuban_stars',
 'german_stars',
 'argentine_stars',
 'beer_and_wine_stars',
 'gaybars_stars',
 'pancakes_stars',
 'donuts_stars',
 'supperclubs_stars',
 'foodtrucks_stars',
 'poke_stars',
 'peruvian_stars',
 'russian_stars',
 'british_stars',
 'indonesian_stars',
 'icecream_stars',
 'pastashops_stars',
 'shavedice_stars',
 'gourmet_stars',
 'cideries_stars',
 'panasian_stars',
 'brasseries_stars',
 'empanadas_stars',
 'irish_pubs_stars',
 'polish_stars',
 'divebars_stars',
 'pakistani_stars',
 'izakaya_stars',
 'hainan_stars',
 'ukrainian_stars',
 'soulfood_stars',
 'cheesesteaks_stars',
 'newmexican_stars',
 'persian_stars',
 'tikibars_stars',
 'gelato_stars',
 'tuscan_stars',
 'themedcafes_stars',
 'eatertainment_stars',
 'moroccan_stars',
 'foodstands_stars',
 'salvadoran_stars',
 'dominican_stars',
 'drivethrubars_stars',
 'smokehouse_stars',
 'african_stars',
 'buffets_stars',
 'diyfood_stars',
 'streetvendors_stars',
 'shanghainese_stars',
 'tea_stars',
 'cakeshop_stars',
 'teppanyaki_stars',
 'haitian_stars',
 'afghani_stars',
 'customcakes_stars',
 'honduran_stars',
 'austrian_stars',
 'srilankan_stars',
 'burmese_stars',
 'wineries_stars',
 'hkcafe_stars',
 'mongolian_stars',
 'fondue_stars',
 'acaibowls_stars',
 'ethiopian_stars',
 'meaderies_stars',
 'armenian_stars',
 'pianobars_stars',
 'cheese_stars',
 'coffeeroasteries_stars',
 'basque_stars',
 'somali_stars',
 'sicilian_stars',
 'distilleries_stars',
 'laotian_stars',
 'egyptian_stars',
 'pretzels_stars',
 'internetcafe_stars',
 'macarons_stars',
 'cambodian_stars',
 'belgian_stars',
 'eritrean_stars',
 'champagne_bars_stars',
 'nicaraguan_stars',
 'poutineries_stars',
 'speakeasies_stars',
 'syrian_stars',
 'arabian_stars',
 'polynesian_stars',
 'catalan_stars',
 'trinidadian_stars',
 'hungarian_stars',
 'calabrian_stars',
 'czech_stars',
 'guamanian_stars',
 'sardinian_stars',
 'senegalese_stars',
 'bangladeshi_stars',
 'bulgarian_stars',
 'kombucha_stars',
 'iberian_stars',
 'piadina_stars',
 'vermouthbars_stars',
 'shavedsnow_stars',
 'pubfood_stars',
 'bistros_stars',
 'modern_australian_stars',
 'rotisserie_chicken_stars',
 'slovakian_stars']

In [58]:
# Export to csv
stars_categories_expanded_df.to_csv('../Processed_Data/corrected_yelp_api_stars_categories_expanded.csv', index=False)

### Export to local SQL for grouping by zip code

In [59]:
# Export to local SQL

# Dependencies
import psycopg2
import sqlalchemy as sqla
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

# Export
from config import pSQL
# DB password in config.py file

db_path = f'postgresql://postgres:{pSQL}@127.0.0.1:5432/Yelp2' # last item is name of db in the server group
# Create database engine
engine = create_engine(db_path)

In [60]:
# Load last dataframe into local SQL
stars_categories_expanded_df.to_sql(name='Correct_Stars_Cat_Expanded',con=engine)

#### Additional Processing in SQL:
- grouped restaurants by zip code

**Tables generated**
1. summary table (rating averaged, all dummy columns counted) by zip code without expanded categories and category_stars columns
2. count of restaurant types by zip code
3. sum of stars for each category_star column by zip code

In [63]:
# Check number of unique zip codes
len(stars_categories_expanded_df.postal_code.unique())
# This result matches SQL after merging data on zip codes

13988

In [65]:
# Load in SQL tables

connection = engine.connect()

zip_summary_df = pd.read_sql("select * from \"corr_zip_summary\"", connection)

zip_categories_df = pd.read_sql("select * from \"corr_zip_categories_sum\"", connection)

zip_stars_df = pd.read_sql("select * from \"corr_zip_stars_sum\"", connection)

In [66]:
# Display zip_summary
zip_summary_df.head()

,postal_code,City,State,CountyName,2021,total_restaurants,total_reviews,avg_rating,total_delivery,total_pickup,...,total_0.0_stars,total_1.0_stars,total_1.5_stars,total_2.0_stars,total_2.5_stars,total_3.0_stars,total_3.5_stars,total_4.0_stars,total_4.5_stars,total_5.0_stars
0,1267.0,Williamstown,MA,Berkshire County,357029.0,23,1347.0,3.782609,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,2.0,5.0,11.0,3.0,1.0
1,2134.0,Boston,MA,Suffolk County,620830.0,1,2.0,4.500000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2886.0,Warwick,RI,Kent County,315398.0,1,28.0,2.000000,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3079.0,Salem,NH,Rockingham County,458081.0,1,1.0,5.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,3276.0,Northfield,NH,Merrimack County,283171.0,1,1.0,2.000000,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
# Display zip_categories
zip_categories_df.head()

,postal_code,bars,newamerican,wine_bars,italian,tapasmallplates,pizza,breakfast_brunch,mexican,mediterranean,...,kombucha,iberian,piadina,vermouthbars,shavedsnow,pubfood,bistros,modern_australian,rotisserie_chicken,slovakian
0,1267.0,2.0,0.0,0.0,0.0,0.0,4.0,3.0,3.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2134.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2886.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3079.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3276.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
# Display zip_stars (sum of all stars for each category_star column)
zip_stars_df.head()

,postal_code,bars_stars,newamerican_stars,wine_bars_stars,italian_stars,tapasmallplates_stars,pizza_stars,breakfast_brunch_stars,mexican_stars,mediterranean_stars,...,kombucha_stars,iberian_stars,piadina_stars,vermouthbars_stars,shavedsnow_stars,pubfood_stars,bistros_stars,modern_australian_stars,rotisserie_chicken_stars,slovakian_stars
0,1267.0,7.0,0.0,0.0,0.0,0.0,16.0,11.0,11.5,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2134.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2886.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3079.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3276.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Creating final dataframes for ML notebooks

In [69]:
# Reset indexes to postal code
zip_summary_df.set_index(["postal_code"], inplace=True)
zip_categories_df.set_index(["postal_code"], inplace=True)
zip_stars_df.set_index(["postal_code"], inplace=True)

In [74]:
zip_summary_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 13988 entries, 1267.0 to 99833.0
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    13988 non-null  object
 1   State                   13988 non-null  object
 2   CountyName              13988 non-null  object
 3   2021                    13988 non-null  float64
 4   total_restaurants       13988 non-null  int64
 5   total_reviews           13988 non-null  float64
 6   avg_rating              13988 non-null  float64
 7   total_delivery          13988 non-null  float64
 8   total_pickup            13988 non-null  float64
 9   total_rest_reservation  13988 non-null  float64
 10  total_price_1           13988 non-null  float64
 11  total_price_2           13988 non-null  float64
 12  total_price_3           13988 non-null  float64
 13  total_price_4           13988 non-null  float64
 14  total_0.0_stars         13988 non-null  float64
 15  total_1.0_stars         13988 non-null  float64
 16  total_1.5_stars         13988 non-null  float64
 17  total_2.0_stars         13988 non-null  float64
 18  total_2.5_stars         13988 non-null  float64
 19  total_3.0_stars         13988 non-null  float64
 20  total_3.5_stars         13988 non-null  float64
 21  total_4.0_stars         13988 non-null  float64
 22  total_4.5_stars         13988 non-null  float64
 23  total_5.0_stars         13988 non-null  float64
dtypes: float64(20), int64(1), object(3)
memory usage: 2.7+ MB

In [75]:
zip_categories_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 13988 entries, 1267.0 to 99833.0
Columns: 211 entries, bars to slovakian
dtypes: float64(211)
memory usage: 22.6 MB

In [76]:
zip_stars_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 13988 entries, 1267.0 to 99833.0
Columns: 211 entries, bars_stars to slovakian_stars
dtypes: float64(211)
memory usage: 22.6 MB

In [77]:
# Create dataframe with averages of stars for each category_star column
zip_avg_stars_df = zip_stars_df/zip_categories_df.values[:,:]

In [78]:
zip_avg_stars_df.head()

,bars_stars,newamerican_stars,wine_bars_stars,italian_stars,tapasmallplates_stars,pizza_stars,breakfast_brunch_stars,mexican_stars,mediterranean_stars,sandwiches_stars,...,kombucha_stars,iberian_stars,piadina_stars,vermouthbars_stars,shavedsnow_stars,pubfood_stars,bistros_stars,modern_australian_stars,rotisserie_chicken_stars,slovakian_stars
postal_code,,,,,,,,,,,,,,,,,,,,,
1267.0,3.5,NaN,NaN,NaN,NaN,4.0,3.666667,3.833333,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2886.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3079.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3276.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
zip_avg_stars_df.bars_stars

postal_code
1267.0     3.500000
2134.0          NaN
2886.0          NaN
3079.0          NaN
3276.0          NaN
             ...
99654.0    3.833333
99669.0    3.500000
99672.0         NaN
99694.0    5.000000
99833.0         NaN
Name: bars_stars, Length: 13988, dtype: float64

In [82]:
# Export categories and avg stars

zip_categories_df.to_csv('../Processed_Data/Final_zip_categories_sum.csv')

zip_avg_stars_df.to_csv('../Processed_Data/Final_zip_cat_stars_avg.csv')

In [83]:
# COUNT total number of different TYPES of restaurants (diversity) for each zip code
# Make a new series
new_data = []

for index,row in zip_categories_df.iterrows():
    counter = 0
    for i in range(len(zip_categories_df.columns)):
        if row[i] != 0:
            counter +=1
    new_data.append(counter)

In [84]:
new_data

[23,
 0,
 1,
 3,
 1,
 21,
 9,
 19,
 11,
 5,
 7,
 8,
 8,
 9,
 2,
 8,
 17,
 10,
 14,
 11,
 2,
 25,
 12,
 11,
 10,
 8,
 2,
 4,
 4,
 2,
 7,
 2,
 15,
 1,
 1,
 11,
 5,
 4,
 12,
 6,
 14,
 1,
 4,
 1,
 7,
 3,
 2,
 0,
 6,
 9,
 7,
 9,
 1,
 8,
 5,
 13,
 20,
 2,
 2,
 1,
 6,
 4,
 7,
 4,
 10,
 7,
 8,
 15,
 5,
 7,
 2,
 0,
 12,
 3,
 1,
 6,
 17,
 2,
 1,
 4,
 11,
 2,
 17,
 2,
 26,
 3,
 3,
 5,
 13,
 2,
 18,
 21,
 8,
 2,
 1,
 4,
 7,
 1,
 33,
 8,
 9,
 66,
 2,
 2,
 34,
 2,
 0,
 3,
 19,
 42,
 1,
 5,
 18,
 11,
 40,
 24,
 0,
 23,
 10,
 9,
 11,
 23,
 3,
 3,
 6,
 1,
 22,
 5,
 2,
 1,
 4,
 3,
 15,
 2,
 3,
 24,
 8,
 3,
 8,
 23,
 19,
 4,
 16,
 11,
 45,
 2,
 7,
 4,
 5,
 3,
 15,
 5,
 19,
 12,
 1,
 2,
 3,
 4,
 9,
 3,
 2,
 2,
 9,
 3,
 7,
 11,
 12,
 6,
 8,
 19,
 3,
 10,
 8,
 2,
 1,
 9,
 8,
 2,
 64,
 12,
 2,
 25,
 14,
 5,
 6,
 4,
 1,
 3,
 3,
 1,
 6,
 15,
 5,
 5,
 2,
 0,
 12,
 6,
 0,
 1,
 10,
 18,
 26,
 3,
 22,
 8,
 25,
 3,
 76,
 96,
 87,
 53,
 43,
 44,
 56,
 78,
 68,
 70,
 70,
 94,
 79,
 81,
 68,
 69,
 85,
 22,
 71,
 80,
 67,
 69,
 80,
 62,
 64,
 72,
 75,
 40,
 60,
 49,
 60,
 49,
 51,
 79,
 23,
 80,
 25,
 46,
 14,
 57,
 7,
 52,
 59,
 2,
 19,
 23,
 48,
 47,
 29,
 31,
 35,
 60,
 24,
 39,
 36,
 47,
 42,
 60,
 41,
 35,
 22,
 43,
 33,
 32,
 28,
 48,
 29,
 24,
 59,
 58,
 52,
 22,
 34,
 37,
 49,
 41,
 32,
 28,
 33,
 40,
 25,
 18,
 29,
 3,
 22,
 7,
 21,
 30,
 35,
 23,
 6,
 19,
 4,
 22,
 19,
 22,
 10,
 8,
 33,
 31,
 23,
 16,
 32,
 12,
 8,
 46,
 33,
 9,
 8,
 1,
 3,
 2,
 1,
 58,
 28,
 8,
 8,
 9,
 37,
 36,
 34,
 3,
 30,
 22,
 3,
 18,
 56,
 10,
 11,
 15,
 89,
 52,
 89,
 71,
 61,
 81,
 14,
 72,
 35,
 48,
 59,
 55,
 42,
 33,
 75,
 37,
 88,
 32,
 50,
 68,
 84,
 68,
 77,
 60,
 42,
 65,
 52,
 67,
 51,
 31,
 62,
 55,
 29,
 50,
 40,
 57,
 62,
 46,
 54,
 64,
 31,
 78,
 63,
 19,
 87,
 66,
 59,
 40,
 51,
 56,
 26,
 74,
 48,
 17,
 45,
 44,
 39,
 35,
 50,
 30,
 21,
 71,
 68,
 50,
 84,
 63,
 54,
 33,
 72,
 26,
 34,
 24,
 40,
 36,
 27,
 42,
 43,
 44,
 40,
 38,
 29,
 32,
 33,
 20,
 32,
 16,
 40,
 61,
 22,
 41,
 54,
 20,
 25,
 3,
 3,
 24,
 12,
 17,
 6,
 34,
 29,
 3,
 5,
 17,
 17,
 23,
 15,
 23,
 1,
 48,
 18,
 2,
 40,
 12,
 37,
 18,
 15,
 4,
 45,
 26,
 8,
 20,
 11,
 28,
 17,
 42,
 30,
 10,
 34,
 9,
 5,
 19,
 61,
 4,
 46,
 3,
 35,
 19,
 29,
 23,
 14,
 1,
 9,
 11,
 27,
 7,
 31,
 3,
 2,
 27,
 26,
 25,
 4,
 4,
 55,
 15,
 7,
 16,
 28,
 12,
 49,
 27,
 22,
 21,
 31,
 15,
 5,
 6,
 4,
 23,
 21,
 37,
 4,
 9,
 20,
 25,
 26,
 16,
 13,
 52,
 12,
 30,
 11,
 33,
 22,
 11,
 38,
 42,
 12,
 7,
 40,
 25,
 7,
 6,
 29,
 7,
 10,
 26,
 10,
 11,
 4,
 11,
 6,
 26,
 5,
 4,
 2,
 3,
 8,
 6,
 7,
 9,
 2,
 3,
 4,
 25,
 22,
 27,
 2,
 4,
 18,
 4,
 14,
 5,
 6,
 4,
 24,
 6,
 12,
 2,
 1,
 3,
 24,
 3,
 1,
 8,
 11,
 14,
 9,
 3,
 69,
 10,
 3,
 3,
 7,
 14,
 1,
 6,
 18,
 14,
 39,
 13,
 35,
 30,
 46,
 36,
 21,
 48,
 9,
 3,
 9,
 3,
 3,
 2,
 61,
 7,
 3,
 7,
 34,
 3,
 3,
 10,
 4,
 4,
 4,
 2,
 9,
 13,
 7,
 7,
 10,
 4,
 4,
 2,
 14,
 7,
 2,
 33,
 1,
 5,
 14,
 23,
 2,
 2,
 3,
 12,
 29,
 14,
 7,
 2,
 1,
 3,
 13,
 3,
 22,
 11,
 48,
 11,
 9,
 2,
 20,
 6,
 21,
 7,
 4,
 2,
 11,
 24,
 4,
 7,
 8,
 3,
 11,
 3,
 8,
 33,
 7,
 6,
 47,
 31,
 35,
 9,
 5,
 2,
 22,
 3,
 10,
 2,
 4,
 4,
 11,
 4,
 1,
 30,
 3,
 3,
 2,
 4,
 18,
 1,
 3,
 2,
 3,
 15,
 5,
 3,
 3,
 2,
 6,
 1,
 3,
 3,
 5,
 6,
 2,
 3,
 14,
 2,
 18,
 9,
 7,
 1,
 4,
 4,
 2,
 2,
 4,
 3,
 2,
 2,
 8,
 4,
 44,
 23,
 1,
 3,
 6,
 2,
 7,
 3,
 3,
 27,
 5,
 11,
 17,
 2,
 40,
 14,
 1,
 7,
 2,
 15,
 16,
 24,
 10,
 10,
 10,
 3,
 1,
 5,
 4,
 6,
 4,
 20,
 3,
 2,
 7,
 7,
 10,
 63,
 15,
 28,
 16,
 24,
 6,
 21,
 8,
 46,
 8,
 19,
 16,
 10,
 24,
 13,
 7,
 3,
 0,
 2,
 3,
 3,
 6,
 3,
 2,
 12,
 4,
 28,
 2,
 8,
 1,
 6,
 4,
 5,
 2,
 3,
 6,
 11,
 1,
 3,
 7,
 5,
 5,
 46,
 2,
 6,
 6,
 7,
 1,
 2,
 8,
 14,
 32,
 4,
 9,
 8,
 3,
 3,
 4,
 10,
 13,
 1,
 5,
 2,
 13,
 6,
 13,
 14,
 41,
 37,
 44,
 3,
 1,
 1,
 7,
 8,
 11,
 3,
 24,
 4,
 2,
 33,
 15,
 4,
 3,
 1,
 4,
 10,
 1,
 3,
 20,
 5,
 3,
 38,
 3,
 5,
 27,
 9,
 2,
 6,
 12,
 41,
 41,
 3,
 2,
 24,
 15,
 2,
 4,
 5,
 5,
 4,
 8,
 5,
 9,
 4,
 12,
 1,
 3,
 1,
 3,
 9,
 9,
 6,
 1,
 17,
 24,
 3,
 7,
 6,
 11,
 2,
 2,
 7,
 7,
 3,
 2,
 7,
 0,
 17,
 10,
 9,
 5,
 8,
 38,
 55,
 36,
 25,
 22,
 31,
 6,
 15,
 23,
 15,
 17,
 48,
 22,
 16,
 41,
 28,
 16,
 17,
 22,
 19,
 42,
 10,
 18,
 18,
 32,
 7,
 6,
 27,
 19,
 22,
 4,
 21,
 6,
 15,
 11,
 8,
 2,
 9,
 19,
 12,
 2,
 2,
 3,
 11,
 13,
 14,
 10,
 7,
 14,
 14,
 9,
 5,
 7,
 24,
 5,
 15,
 14,
 9,
 2,
 9,
 13,
 1,
 3,
 13,
 10,
 24,
 5,
 20,
 17,
 11,
 42,
 14,
 18,
 59,
 36,
 42,
 21,
 20,
 17,
 12,
 20,
 27,
 10,
 15,
 30,
 9,
 49,
 34,
 15,
 41,
 27,
 6,
 24,
 46,
 6,
 2,
 12,
 9,
 1,
 3,
 ...]

In [86]:
# Check out why Massachusetts restaurant came up with 0 categories
MA_rest = api_expand_df[api_expand_df['postal_code']==2134.0]

In [87]:
MA_rest

,postal_code,City,State,CountyName,2021,latitude,longitude,review_count,rating,categories,...,stars_0.0,stars_1.0,stars_1.5,stars_2.0,stars_2.5,stars_3.0,stars_3.5,stars_4.0,stars_4.5,stars_5.0
113711,2134.0,Boston,MA,Suffolk County,620830.0,-33.88631,151.09624,2,4.5,"[{'alias': 'restaurants', 'title': 'Restaurant...",...,0,0,0,0,0,0,0,0,1,0

In [89]:
MA_rest.categories.to_list()

["[{'alias': 'restaurants', 'title': 'Restaurants'}]"]

In [90]:
# Append restaurant type count to zip_summary table
zip_summary_df["num_rest_types"] = new_data

In [92]:
zip_summary_df.head()

,City,State,CountyName,2021,total_restaurants,total_reviews,avg_rating,total_delivery,total_pickup,total_rest_reservation,...,total_1.0_stars,total_1.5_stars,total_2.0_stars,total_2.5_stars,total_3.0_stars,total_3.5_stars,total_4.0_stars,total_4.5_stars,total_5.0_stars,num_rest_types
postal_code,,,,,,,,,,,,,,,,,,,,,
1267.0,Williamstown,MA,Berkshire County,357029.0,23,1347.0,3.782609,1.0,2.0,0.0,...,1.0,0.0,0.0,0.0,2.0,5.0,11.0,3.0,1.0,23
2134.0,Boston,MA,Suffolk County,620830.0,1,2.0,4.500000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
2886.0,Warwick,RI,Kent County,315398.0,1,28.0,2.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3079.0,Salem,NH,Rockingham County,458081.0,1,1.0,5.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3
3276.0,Northfield,NH,Merrimack County,283171.0,1,1.0,2.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [93]:
zip_summary_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 13988 entries, 1267.0 to 99833.0
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    13988 non-null  object
 1   State                   13988 non-null  object
 2   CountyName              13988 non-null  object
 3   2021                    13988 non-null  float64
 4   total_restaurants       13988 non-null  int64
 5   total_reviews           13988 non-null  float64
 6   avg_rating              13988 non-null  float64
 7   total_delivery          13988 non-null  float64
 8   total_pickup            13988 non-null  float64
 9   total_rest_reservation  13988 non-null  float64
 10  total_price_1           13988 non-null  float64
 11  total_price_2           13988 non-null  float64
 12  total_price_3           13988 non-null  float64
 13  total_price_4           13988 non-null  float64
 14  total_0.0_stars         13988 non-null  float64
 15  total_1.0_stars         13988 non-null  float64
 16  total_1.5_stars         13988 non-null  float64
 17  total_2.0_stars         13988 non-null  float64
 18  total_2.5_stars         13988 non-null  float64
 19  total_3.0_stars         13988 non-null  float64
 20  total_3.5_stars         13988 non-null  float64
 21  total_4.0_stars         13988 non-null  float64
 22  total_4.5_stars         13988 non-null  float64
 23  total_5.0_stars         13988 non-null  float64
 24  num_rest_types          13988 non-null  int64
dtypes: float64(20), int64(2), object(3)
memory usage: 2.8+ MB

In [94]:
# Export to csv
zip_summary_df.to_csv('../Processed_Data/Final_yelp_zip_summary.csv')