## Test loading into and reading from Postgres

In [1]:
# Dependencies
import pandas as pd
import psycopg2
import sqlalchemy as sqla
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

### Creating Dummy Data

In [2]:
test_df = pd.DataFrame({"Column1":["This", "is", "a","test"],
                       "Column2":[1,2,3,4],
                       "Column3":[2.6, 4.5, 7.9, 3.0]})

In [3]:
test_df

  Column1  Column2  Column3
0    This        1      2.6
1      is        2      4.5
2       a        3      7.9
3    test        4      3.0

### Push dataframe to database

In [4]:
from config import pSQL
# DB password in config.py file

db_path = f'postgresql://postgres:{pSQL}@127.0.0.1:5432/TestDB' # last item is name of db in the server group

# Create database engine
engine = create_engine(db_path)

In [5]:
# Upload dataframe to Postgres (Table does not have to exist already. If exists, use if_exist= argument)

test_df.to_sql(name='TestTable',con=engine) # name = name of table

### To view table in Postgres:
- Refresh the database
- Find the table under Schema --> Tables
- Right click and select "View/Edit Data"
- Note the Query Editor will display " SELECT * FROM public."TestTable" "
- To query the table within Postgres, open a new query editor and first run SELECT * FROM public."TestTable"

### Read table from Postgres as a dataframe

In [6]:
connection = engine.connect()
dataFrame = pd.read_sql("select * from \"TestTable\"", connection)

In [7]:
dataFrame

   index Column1  Column2  Column3
0      0    This        1      2.6
1      1      is        2      4.5
2      2       a        3      7.9
3      3    test        4      3.0

In [8]:
# OR This way
dataFrame2 = pd.read_sql("select * from \"TestTable\"", con=engine)
dataFrame2

   index Column1  Column2  Column3
0      0    This        1      2.6
1      1      is        2      4.5
2      2       a        3      7.9
3      3    test        4      3.0

#### NOTE:
The index column from the initial dataframe (from loading) is a new column.

We can fix this by deleting or re-indexing the dataframe before loading into the SQL.

### Disconnect from the DB

In [9]:
connection = engine.connect()
connection.close()